<div class="top-banner">
  <div class="top-banner-logos">
   <img class="logo-rf" src="{{ "images/logo/Republique_Francaise_RVB.png" | absURL }}" alt="République Française">         
   <a href="https://www.inrae.fr"><img class="logo-inrae" src="{{ "images/logo/Logo-INRAE_Transparent.png" | absURL }}" alt="INRAE"></a>
   <a href="https://www.univ-amu.fr/"><img class="logo-amu" src="{{ "images/logo/Logo_AMU.jpg" | absURL }}" alt="AMU"></a>
   <a href="https://recover.paca.hub.inrae.fr/"><img class="logo-amu" src="{{ "images/logo/logo_recover.png" | absURL }}" alt="AMU"></a>
   <a href="https://rhax-recover.github.io"><img class="logo-amu" src="{{ "images/logo/logo_rhax.png" | absURL }}" alt="AMU"></a>
  </div>
</div>
